@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.chat-id {
  height: 100vh;
  width: 80%;
  max-width: 80rem;

  margin: 0 auto;
  margin-top: 5rem;
  &__container {
  }
  &__header {
  }
  &__main {
  }
  &__footer {
  }
}
